<ion-tabs>
  <!-- Tabs -->
  <ion-tab tab="home">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>

  <ion-tab tab="settings">
    <ion-router-outlet name="settings"></ion-router-outlet>
  </ion-tab>

  <ion-tab tab="recentProducts">
    <ion-router-outlet name="recentProducts"></ion-router-outlet>
  </ion-tab>

  <!-- Tab Buttons -->
  <ion-tab-bar color="primary" slot="bottom">
    <ion-tab-button tab="recentProducts" href="/home/recentProducts">
      <ion-icon color="light" name="barcode-outline"></ion-icon>
      <ion-label color="light">Últimos productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon color="light" name="settings"></ion-icon>
      <ion-label color="light">Ajustes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
