<top-bar title="Foddie"></top-bar>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Foddie</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img
    src="assets/images/empty_state.svg"
    style="width: 50%; display: block; margin-left: auto; margin-right: auto"
  ></ion-img>

  <ion-label
    style="width: 30%; display: block; margin-left: auto; margin-right: auto"
    >Empieza a escanear tus productos para saber su puntuación
    alimentaria</ion-label
  >

  <ion-fab slot="fixed" vertical="bottom" horizontal="center" id="open-camera">
    <ion-fab-button (click)="takePicture()" color="light">
      <ion-icon name="camera" color="primary"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <bottom-bar></bottom-bar>
</ion-content>
